*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root{
  --white: #ffffff;
  --yellow: #F2D835;
  --light-yellow: #FEF244;
  --dark-grey: #292929;
  --warn-red: #e22f2f;
  --light-grey: #dbdbdb;
}
